.modalContent {
    border : 1px solid rgba(0,0,0, 0.26);
}

#label {
    position: fixed;
    top: 0;
    left: 40px;
    background-color: white;
}

.dialogStyle {
    width: 800px;
    border: 1px solid #e5e5e5;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    padding: 20px;
    border-radius: 5px;
}

.modalStyle {
    z-index: 9999;
    position: fixed;
    top: 30%;
    left:50%;
    transform: translate(-50%, -50%);
}

.backdropStyle {
    position: fixed;
    z-index: 9998;
    top:0; bottom:0; left:0; right:0;
    background-color : #000;
    opacity: 0.5;
}

.closeBtn {
    margin-top: 20px;
}
